/* calculator */

#calculator {
  border: 1px solid rgb(179, 179, 179);
  border-radius: 0.375rem;
  width: 190px;
  height: 330px;
  font-family: Arial, sans-serif;
  margin: 120px auto;
  padding: 10px;
  position: relative;
  background-color: black;
 

}

.output {
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  height: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex; 
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
}

.result {
  font-size: 20px;
  color: white;
}

.number,.op {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  padding: 5px;
}

button {
  border: none;
  border-radius: 0.375rem;
  padding: 10px;
  background-color: #eee;
    cursor: pointer;
  font-size: 16px;

}

button:hover {
  background-color: #ddd;
}

button:active {
  background-color: #ccc;
}

.bg-green {
  background-color: rgba(0, 177, 29, 0.651);
  color: white;
  width: 160px;
  margin-top: 3px;
  position: absolute;
  left: 15px;
}

.bg-green:hover {
  background-color: rgba(0, 231, 39, 0.651);
  color: white;
}

.bg-red {
  background-color: rgba(223, 4, 4, 0.651);
    color: white;
    position: absolute;
    top: 69%;
    left: 74%;
    width: 35px;
}

.bg-red:hover {
  background-color: rgba(255, 1, 1, 0.651);
  color: white;
}


/* slider */

.slider-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  
}

.slider {
  display: flex;
  transition: transform 0.3s ease;
  height: 400px;
}


.pp{
  width: 100%;
  height: 400px;
  position: absolute;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pp2{
  width: 100%;
  height: 400px;
  position: absolute;
  background-color: rgb(145, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  left: 100%;
}
.pp3{
  width: 100%;
  height: 400px;
  position: absolute;
  background-color: rgb(255, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  left: 200%;
}
.btn {
  padding: 10px 20px;
  margin: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 300px;

}

#prev{
  border-radius: 50%;
  background: whitesmoke;
  position: absolute;
  top: 25%;
}

#next{
  border-radius: 50%;
  background: whitesmoke;
  position: absolute;
  top: 25%;
  right: 2%;
}


#prev:hover ,#next:hover {
  background-color: #0056b3;
}